* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
}
/* timer style */
.timer {
  float: right;
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 20px;
}

.scores {
  /* make into button */
  border: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;

}


header {
  display: block;
  margin-top: 20px;
  justify-content: space-between;

}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
}
  
a {
    text-decoration: none;
    padding: 20px;
}

p {
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 20px;
}

#start {
  background-color: #4CAF50;
  color: white;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}



/* instructions style */
#start-screen {
  text-align: center;
}


/* style for main content/Quiz */
#wrapper {
  display: grid;
  padding: 50px;
  margin: 5px;
  grid-template-columns: .5fr;
  justify-content: center;
  align-items: center;
}

#questions {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
#choices {
  display: flex;
  flex-direction: column;
justify-content: center;
  gap: 10px;
  max-width: 150px;
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.choices {
  /* center */
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  border-radius: 200px;
  padding: 20x 20px;
  text-align: center;
}

#feedback {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

h4 {
  font-style: italic;
  color: dimgray;
}

#end-screen {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 20px;
}
